Repository ComfyAssets/ComfyUI_PromptManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit

black:
  name: black
  entry: black --line-length=88 --target-version=py310
  language: system

flake8:
  name: flake8
  entry: flake8 --select=E9,F63,F7,F82 --show-source --exclude=reference/,web/
  language: system

bandit:
  name: bandit
  entry: bash -c 'bandit "$@" -ll -q 2>&1; true'
  language: system

fix: use system-installed Black in pre-commit to match CI
  .pre-commit-config.yaml
  database/models.py
  database/operations.py
  utils/diagnostics.py
Due: black, flake8, bandit

fix: preserve full tracebacks in server-side error logging
  py/api/autotag_routes.py
  py/api/images.py
Due: black, flake8, bandit

fix: custom image scan directory ignored due to wrong import (#108)
  utils/image_monitor.py
Due: black, flake8, bandit

chore: bump project version to 3.0.34 in pyproject.toml
  pyproject.toml
Due: none

feat: migrate to Tailwind v4 and ComfyUI theme token system
  Makefile
  tailwind.config.js
  web/admin.html
  web/css/comfyui-theme.css
  web/js/theme-bridge.js
  web/lib/tailwind/input.css
  web/lib/tailwind/styles.css
Due: none

feat: complete Phase 2 component redesign across all frontend files
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
  web/js/tags-page.js
  web/lib/tailwind/styles.css
  web/metadata.html
Due: none

style: Phase 3 typography and spacing pass
  web/admin.html
  web/js/admin.js
  web/js/gallery.js
  web/js/tags-page.js
  web/metadata.html
Due: none

refactor: Phase 4 remove dark-only infrastructure
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
Due: none

build: rebuild Tailwind CSS with all --pm-* token utilities
  web/lib/tailwind/styles.css
Due: none

fix: move comfyui-theme.css to lib/tailwind/ for proper serving
  web/admin.html
  web/gallery.html
  web/lib/tailwind/comfyui-theme.css
  web/lib/tailwind/styles.css
  web/metadata.html
Due: none

fix: replace Tailwind v3 bg-opacity utilities with v4 slash syntax
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
  web/lib/tailwind/styles.css
Due: none

fix: resolve broken imports and argument mismatch in API handlers
  py/api/admin.py
  py/api/prompts.py
Due: black, flake8, bandit

chore: bump project version to 3.0.35 in pyproject.toml
  pyproject.toml
Due: none

fix: replace broken /opacity modifiers on pm-* utilities with color-mix
  web/admin.html
  web/js/admin.js
  web/js/gallery.js
  web/js/tags-page.js
  web/lib/tailwind/input.css
  web/lib/tailwind/styles.css
  web/metadata.html
Due: none

chore: bump version to 3.0.36 in pyproject.toml
  pyproject.toml
Due: none

fix: use configured directory for image scan instead of always auto-detecting
  py/api/__init__.py
  py/api/admin.py
  tests/test_output_dir.py
Due: black, flake8, bandit

fix: address code review — unused import, silent except, gallery cache
  py/api/__init__.py
  py/api/admin.py
  tests/test_output_dir.py
Due: black, flake8, bandit

chore: bump project version to 3.0.37 in pyproject.toml
  pyproject.toml
Due: none

feat: add WD14 tagger support (SwinV2 + ViT) with threshold controls
  py/api/autotag_routes.py
  py/autotag.py
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
Due: black, flake8, bandit

chore: bump version to 3.1.0, update changelog, fix tag styling and filters
  README.md
  py/api/autotag_routes.py
  py/autotag.py
  pyproject.toml
  web/js/admin.js
  web/lib/tailwind/comfyui-theme.css
  web/lib/tailwind/styles.css
Due: black, flake8, bandit

fix: validate WD14 threshold params to return 400 on bad input
  py/api/autotag_routes.py
Due: black, flake8, bandit

fix: validate WD14 threshold params to return 400 on bad input (#115)
  py/api/autotag_routes.py
Due: black, flake8, bandit

fix: validate WD14 threshold params to return 400 on bad input (#115) (#116)
  py/api/autotag_routes.py
Due: black, flake8, bandit

chore: bump version to 3.1.1 in pyproject.toml
  pyproject.toml
Due: none

fix: add OUTPUT_NODE = True to all nodes to prevent caching skip (#120)
  prompt_manager.py
  prompt_manager_text.py
  prompt_search_list.py
  pyproject.toml
  tests/test_node_execution_contract.py
Due: black, flake8, bandit

fix: add OUTPUT_NODE = True to all nodes to prevent caching skip (#120) (#121)
  prompt_manager.py
  prompt_manager_text.py
  prompt_search_list.py
  pyproject.toml
  tests/test_node_execution_contract.py
Due: black, flake8, bandit

fix: initialize extended_tags before conditional block (#123)
  prompt_manager.py
  prompt_manager_text.py
Due: black, flake8, bandit

test: add unit tests for empty text input handling (#123)
  tests/test_empty_text_handling.py
Due: black, flake8

fix: use parts-based join to prevent double space on empty text (#123)
  prompt_manager.py
  prompt_manager_text.py
Due: black, flake8, bandit

test: add concatenation tests for prepend/append with empty text (#123)
  tests/test_empty_text_handling.py
Due: black, flake8

fix: preserve connected input values in widget sync and queue hooks (#123)
  web/prompt_manager.js
Due: none

test: add connected-input contract tests for text + prepend + append (#123)
  tests/test_empty_text_handling.py
Due: black, flake8

chore: bump version to 3.1.3
  pyproject.toml
Due: none

fix: resolve UnboundLocalError and connected text input issues (#123) (#128)
  prompt_manager.py
  prompt_manager_text.py
  pyproject.toml
  tests/test_empty_text_handling.py
  web/prompt_manager.js
Due: black, flake8, bandit

fix(ui): enable click-to-close on all image viewers (#125)
  web/js/admin.js
  web/js/gallery.js
Due: none

chore: bump version to 3.1.4
  pyproject.toml
Due: none

fix(ui): enable click-to-close on image viewer (#125) (#129)
  pyproject.toml
  web/js/admin.js
  web/js/gallery.js
Due: none

fix: resolve database path from config.json (#119)
  database/models.py
  database/operations.py
Due: black, flake8, bandit

test: add unit tests for database path resolution (#119)
  tests/test_db_path_config.py
Due: black, flake8

chore: bump version to 3.1.5
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: ^(tests/|reference/)
