Repository ComfyAssets/ComfyUI_PromptManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit

black:
  name: black
  entry: black --line-length=88 --target-version=py310
  language: system

flake8:
  name: flake8
  entry: flake8 --select=E9,F63,F7,F82 --show-source --exclude=reference/,web/
  language: system

bandit:
  name: bandit
  entry: bash -c 'bandit "$@" -ll -q 2>&1; true'
  language: system

fix: autotag/single checks real paths and DB rows against output dirs
  py/api/autotag_routes.py
  tests/test_api_autotag.py
Due: black, flake8, bandit

feat: worker-thread setting speeds up the output scan and thumbnail generation
  py/api/admin.py
  py/api/images.py
  py/config.py
  tests/test_api_admin.py
  tests/test_api_images.py
  tests/test_config.py
  tests/test_utils_parallel.py
  tests/test_validators.py
  utils/parallel.py
  utils/validators.py
  web/admin.html
  web/js/admin.js
Due: black, flake8, bandit

fix: autotag endpoints no longer read arbitrary paths or run on GET
  py/api/autotag_routes.py
  tests/test_api_autotag.py
Due: black, flake8, bandit

fix: diagnostics dependency check survives a watchdog without __version__
  tests/test_utils_diagnostics.py
  utils/diagnostics.py
Due: black, flake8, bandit

fix: gallery roots are restricted to ComfyUI directories
  py/api/__init__.py
  py/api/admin.py
  py/config.py
  tests/test_api_admin.py
  tests/test_config.py
  tests/test_gallery_roots.py
Due: black, flake8, bandit

style: wrap long lines in the API layer, autotag and config
  py/api/__init__.py
  py/api/admin.py
  py/api/autotag_routes.py
  py/api/prompts.py
  py/autotag.py
  py/config.py
Due: black, flake8, bandit

fix: check thumbnail directory containment with a real path test
  py/api/images.py
  tests/test_api_images.py
Due: black, flake8, bandit

test: cover core API module and gzip middleware
  tests/test_api_core.py
Due: black, flake8

fix: scan modal ignores backdrop clicks so a focus click cannot dismiss it
  web/js/admin.js
Due: none

fix: validate image file_info before it reaches the generated_images columns
  database/operations.py
  tests/test_database.py
Due: black, flake8, bandit

style: wrap long lines in tests
  tests/test_api_autotag.py
  tests/test_database_migrations.py
  tests/test_empty_text_handling.py
  tests/test_image_monitor_singleton.py
  tests/test_output_dir.py
  tests/test_path_security.py
  tests/test_prompt_usage.py
  tests/test_search_filters.py
Due: black, flake8

fix(lora): confine LoraManager paths to custom_nodes and hide server paths
  py/api/lora_integration.py
  py/lora_utils.py
  tests/test_api_lora.py
  tests/test_lora_utils.py
Due: black, flake8, bandit

chore: keep agent worktrees out of coverage measurement
  .coveragerc
Due: none

fix: output scan runs as a background job that survives the browser going away
  py/api/__init__.py
  py/api/admin.py
  py/api/scan_job.py
  tests/js/scan-progress.test.js
  tests/test_api_admin.py
  tests/test_scan_job.py
  web/admin.html
  web/js/admin.js
  web/js/scan-progress.js
Due: black, flake8, bandit

refactor: one PNG metadata parser
  tests/js/png-metadata.test.js
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
  web/js/png-metadata.js
  web/metadata.html
Due: none

fix: clamp the logs limit and reject non-integers
  py/api/logging_routes.py
  tests/test_api_logging.py
Due: black, flake8, bandit

fix: escape image dimensions and workflow JSON before rendering
  tests/js/image-helpers.test.js
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
  web/js/image-helpers.js
Due: none

fix: describe images relative to the ComfyUI tree in API responses
  py/api/images.py
  py/api/prompts.py
  tests/test_api_images.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

fix: log config accepts only known keys
  py/api/logging_routes.py
  tests/test_api_logging.py
Due: black, flake8, bandit

style: wrap long lines and drop unused imports in utils
  utils/comfyui_integration.py
  utils/diagnostics.py
  utils/image_monitor.py
  utils/metadata_extractor.py
  utils/prompt_graph.py
  utils/prompt_tracker.py
Due: black, flake8, bandit

fix: HTML escaping covers attribute context
  tests/js/data-actions.test.js
  tests/js/html-escape.test.js
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/data-actions.js
  web/js/gallery.js
  web/js/html-escape.js
  web/metadata.html
Due: none

test: cover prompt_manager_base, prompt_manager and prompt_search_list
  tests/test_node_execution_contract.py
Due: black, flake8

fix: gate the LoraManager serving roots and accept relative link paths
  py/api/images.py
  tests/test_api_images.py
Due: black, flake8, bandit

fix: validate tags on every tag mutation route
  py/api/prompts.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

fix: truncating logs no longer rolls the main log over or pads it with zeros
  tests/test_utils_logging_config.py
  utils/logging_config.py
Due: black, flake8, bandit

fix(autotag): contain batch rows, require media extensions, bound the scan
  py/api/autotag_routes.py
  tests/test_api_autotag.py
Due: black, flake8, bandit

feat(dashboard): infinite scrolling for the prompt list, saved default plus session toggle
  py/api/admin.py
  py/config.py
  tests/test_api_admin.py
  tests/test_config.py
  web/admin.html
  web/js/admin.js
Due: black, flake8, bandit

fix(gallery): display settings apply at load, columns work, media info toggles
  tests/js/gallery-settings.test.js
  web/gallery.html
  web/js/gallery-settings.js
  web/js/gallery.js
Due: none

feat(gallery): duplicate scan runs as a background job with progress; infinite scrolling
  py/api/__init__.py
  py/api/admin.py
  tests/js/gallery-settings.test.js
  tests/js/list-state.test.js
  tests/test_api_admin.py
  web/gallery.html
  web/js/gallery-settings.js
  web/js/gallery.js
  web/js/list-state.js
Due: black, flake8, bandit

fix: thumbnails are written atomically and served under mtime-versioned urls
  py/api/__init__.py
  py/api/admin.py
  py/api/autotag_routes.py
  py/api/images.py
  py/api/prompts.py
  tests/js/image-helpers.test.js
  tests/test_api_admin.py
  tests/test_api_autotag.py
  tests/test_api_core.py
  tests/test_api_images.py
  web/js/image-helpers.js
Due: black, flake8, bandit

fix(gallery): Rescan Output Folder drops the server listing cache and rewalks
  py/api/images.py
  tests/test_api_images.py
  web/js/gallery.js
Due: black, flake8, bandit

feat: tag search box autocompletes, narrowed by the tags already typed
  database/operations.py
  py/api/prompts.py
  tests/js/tag-autocomplete.test.js
  tests/test_api_prompts.py
  tests/test_database.py
  web/admin.html
  web/js/admin.js
  web/js/tag-autocomplete.js
Due: black, flake8, bandit

fix: first CI run on Windows and macOS; tests now enforce closed database files
  __init__.py
  database/models.py
  database/operations.py
  py/api/admin.py
  requirements-dev.txt
  tests/open_handles.py
  tests/test_api_admin.py
  tests/test_api_backup_restore.py
  tests/test_api_core.py
  tests/test_api_images.py
  tests/test_api_logging.py
  tests/test_basic.py
  tests/test_database.py
  tests/test_database_migrations.py
  tests/test_diagnostics_config.py
  tests/test_extension_web_dir.py
  tests/test_init_package.py
  tests/test_lora_database.py
  tests/test_lora_utils.py
  tests/test_prompt_usage.py
  tests/test_utils_diagnostics.py
  utils/diagnostics.py
Due: black, flake8, bandit

fix: Windows case-folded gallery roots in tests, "/" subfolders everywhere, longer busy timeout
  database/models.py
  database/operations.py
  tests/test_api_admin.py
  tests/test_database.py
  utils/diagnostics.py
Due: black, flake8, bandit

fix: serve every gallery video format, validate settings before applying, dedupe output dirs
  database/models.py
  py/api/__init__.py
  py/api/admin.py
  py/api/images.py
  tests/test_api_admin.py
  tests/test_api_autotag.py
  tests/test_api_images.py
  tests/test_api_lora.py
  tests/test_database.py
Due: black, flake8, bandit

docs: version 3.3.0, README changelog and refreshed sections
  README.md
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: ^(tests/|reference/)
