Repository ComfyAssets/ComfyUI_PromptManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit

black:
  name: black
  entry: black --line-length=88 --target-version=py310
  language: system

flake8:
  name: flake8
  entry: flake8 --select=E9,F63,F7,F82 --show-source --exclude=reference/,web/
  language: system

bandit:
  name: bandit
  entry: bash -c 'bandit "$@" -ll -q 2>&1; true'
  language: system

docs: update database path configuration instructions (#119)
  README.md
Due: none

fix: remove unused import and variables from test (#119)
  tests/test_db_path_config.py
Due: black, flake8

fix: database path config option now works (#119) (#130)
  README.md
  database/models.py
  database/operations.py
  pyproject.toml
  tests/test_db_path_config.py
Due: black, flake8, bandit

chore: bump version to 3.1.6
  pyproject.toml
Due: none

feat(ui): show prompt metadata sidebar in filmstrip viewer (#124)
  web/js/admin.js
Due: none

fix(ui): scope metadata sidebar to active viewer container (#124)
  web/js/admin.js
Due: none

feat(ui): show prompt and copy button in filmstrip viewer (#124) (#131)
  pyproject.toml
  web/js/admin.js
Due: none

fix: diagnostics, backup, and restore now respect config.json db path (#132)
  py/api/admin.py
  utils/diagnostics.py
Due: black, flake8, bandit

test: add regression tests for config-aware diagnostics and backup (#132)
  tests/test_diagnostics_config.py
Due: black, flake8

fix(test): use fresh event loop to avoid aiohttp test pollution
  tests/test_diagnostics_config.py
Due: black, flake8

fix: don't kill singleton image monitor when node instance is garbage collected
  prompt_manager_base.py
Due: black, flake8, bandit

test: add regression tests for image monitor singleton lifecycle
  tests/test_image_monitor_singleton.py
Due: black, flake8

style: address PR review — log suppressed exceptions, remove unused imports
  py/api/admin.py
  tests/test_diagnostics_config.py
  tests/test_image_monitor_singleton.py
  utils/diagnostics.py
Due: black, flake8, bandit

fix: diagnostics and monitor respect config, singleton lifecycle (#132) (#133)
  prompt_manager_base.py
  py/api/admin.py
  tests/test_diagnostics_config.py
  tests/test_image_monitor_singleton.py
  utils/diagnostics.py
Due: black, flake8, bandit

feat(api): add subfolders endpoint and folder filter to prompt search (#126)
  py/api/prompts.py
Due: black, flake8, bandit

feat(db): add folder filter to search_prompts and get_prompt_subfolders (#126)
  database/operations.py
Due: black, flake8, bandit

fix: escape LIKE wildcards in folder filter and remove dead _gallery_cache_time field
  database/operations.py
  py/api/__init__.py
  py/api/admin.py
Due: black, flake8, bandit

feat(api): multi-directory gallery scan with subfolder filter and multi-root serve (#126)
  py/api/images.py
Due: black, flake8, bandit

chore: gitignore SQLite WAL-mode temp files
  .gitignore
Due: none

cleanup: remove dead galleryRootPath assignment in loadSettings
  web/js/admin.js
Due: none

feat(scan): scan all media types across all output dirs with batched extraction (#126)
  py/api/admin.py
Due: black, flake8, bandit

refactor(api): add multi-root output dir infrastructure (#126)
  py/api/__init__.py
Due: black, flake8, bandit

feat(ui): dynamic multi-path settings with add/remove buttons (#126)
  web/admin.html
  web/js/admin.js
Due: none

feat(api): support multiple gallery scan paths in settings endpoint (#126)
  py/api/admin.py
Due: black, flake8, bandit

feat(ui): add folder dropdown filter to search bar (#126)
  web/admin.html
  web/js/admin.js
Due: none

fix: enrich prompt images with URLs and check all output dirs for serving
  py/api/__init__.py
  py/api/admin.py
  py/api/images.py
Due: black, flake8, bandit

feat(ui): add version-scoped update notice popup for rescan (#126)
  web/admin.html
  web/js/admin.js
Due: none

chore: bump version to 3.2.0
  pyproject.toml
Due: none

feat: multi-directory gallery scan with folder filter (#126) (#135)
  .gitignore
  database/operations.py
  py/api/__init__.py
  py/api/admin.py
  py/api/images.py
  py/api/prompts.py
  pyproject.toml
  web/admin.html
  web/js/admin.js
Due: black, flake8, bandit

feat(ui): add LoraManager integration settings and import UI (#52)
  web/admin.html
  web/js/admin.js
Due: none

feat: inject LoRA trigger words into prompts at encoding time (#52)
  prompt_manager.py
  prompt_manager_base.py
  prompt_manager_text.py
Due: black, flake8, bandit

feat: add IntegrationConfig for opt-in third-party integrations (#52)
  py/config.py
Due: black, flake8, bandit

feat: add LoRA utility module for LoraManager integration (#52)
  py/lora_utils.py
Due: black, flake8, bandit

feat(api): add LoraManager integration endpoints (#52)
  py/api/__init__.py
  py/api/lora_integration.py
Due: black, flake8, bandit

fix: detect LoraManager with case-insensitive directory scan (#52)
  py/lora_utils.py
Due: black, flake8, bandit

fix: simplify LoraManager heuristic to match real install structure (#52)
  py/lora_utils.py
Due: black, flake8, bandit

fix: find ComfyUI root via folder_paths and handle symlinked installs (#52)
  py/lora_utils.py
Due: black, flake8, bandit

fix(ui): add pointer-events-none to toggle switch overlays (#52)
  web/admin.html
Due: none

fix: use lora-manager category and tag for imported LoRA data (#52)
  py/api/lora_integration.py
Due: black, flake8, bandit

fix: use rglob to find metadata in lora subdirectories (#52)
  py/api/lora_integration.py
  py/lora_utils.py
Due: black, flake8, bandit

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: ^(tests/|reference/)
