Repository ComfyAssets/ComfyUI_PromptManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --line-length=88 --target-version=py310
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: flake8 --select=E9,F63,F7,F82 --show-source --exclude=reference/,web/
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bash -c 'bandit "$@" -ll -q 2>&1; true'
        language: system
        types: [python]
        exclude: ^(tests/|reference/)

      - id: tests
        name: tests
        entry: python -m unittest discover tests/ -v
        language: system
        pass_filenames: false
        stages: [pre-push]

feat: track prompt usage (run_count, last_used_at) with server-side sorting
  database/models.py
  database/operations.py
  prompt_manager_base.py
  tests/test_prompt_usage.py
Due: black, flake8, bandit

feat: sort param on /recent and /search; microsecond last_used_at
  database/models.py
  database/operations.py
  py/api/prompts.py
  tests/test_api.py
  tests/test_prompt_usage.py
Due: black, flake8, bandit

feat: server-side sort in admin UI with Recently Used / Most Used and run badges
  tests/js/prompt-list-sort.test.js
  tests/test_sort_contract.py
  web/admin.html
  web/js/admin.js
  web/js/prompt-list-sort.js
  web/prompt_manager.js
Due: black, flake8

fix: link images and count runs by the positive prompt, not node execution
  __init__.py
  prompt_manager.py
  prompt_manager_base.py
  prompt_manager_text.py
  tests/test_image_linking.py
  tests/test_node_tracking_wiring.py
  tests/test_prompt_graph.py
  tests/test_prompt_usage.py
  tests/test_usage_tracking.py
  utils/image_monitor.py
  utils/prompt_graph.py
  utils/prompt_tracker.py
  utils/usage_tracking.py
Due: black, flake8, bandit

fix: address review — count cached runs of linked text, keep repeated pending runs
  __init__.py
  database/operations.py
  prompt_manager_base.py
  tests/test_image_linking.py
  tests/test_node_tracking_wiring.py
  tests/test_prompt_graph.py
  tests/test_prompt_usage.py
  tests/test_usage_tracking.py
  utils/image_monitor.py
  utils/prompt_graph.py
  utils/usage_tracking.py
Due: black, flake8, bandit

refactor: unquote PendingFirstUse annotation so Tuple usage is visible
  utils/usage_tracking.py
Due: black, flake8, bandit

feat: release 3.2.4 — recently used sorting, run counts, positive-prompt image linking (#152)
  __init__.py
  database/models.py
  database/operations.py
  prompt_manager.py
  prompt_manager_base.py
  prompt_manager_text.py
  py/api/prompts.py
  pyproject.toml
  tests/js/prompt-list-sort.test.js
  tests/test_api.py
  tests/test_image_linking.py
  tests/test_node_tracking_wiring.py
  tests/test_prompt_graph.py
  tests/test_prompt_usage.py
  tests/test_sort_contract.py
  tests/test_usage_tracking.py
  utils/image_monitor.py
  utils/prompt_graph.py
  utils/prompt_tracker.py
  utils/usage_tracking.py
  web/admin.html
  web/js/admin.js
  web/js/prompt-list-sort.js
  web/prompt_manager.js
Due: black, flake8, bandit

fix: cap every request-driven resource in the image routes
  py/api/images.py
  py/api/prompts.py
  tests/test_api_images.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

fix: page image listings in SQL and drop three unused helpers
  .flake8
  database/models.py
  database/operations.py
  py/api/images.py
  tests/test_api_images.py
  tests/test_database.py
  tests/test_hashing.py
  tests/test_utils_logging_config.py
  utils/hashing.py
Due: black, flake8, bandit

fix: do not follow negative text inputs when tracing the positive prompt
  tests/test_prompt_graph.py
  utils/prompt_graph.py
Due: black, flake8, bandit

docs: point at the moved canvas extension under web/comfy
  README.md
  tests/test_sort_contract.py
Due: black, flake8

fix: escape remaining server values rendered through innerHTML
  web/js/admin.js
  web/js/gallery.js
Due: none

test: cover __init__
  tests/test_init_package.py
Due: black, flake8

test: cover autotag and lora integration
  py/autotag.py
  tests/test_api_autotag.py
  tests/test_api_lora.py
  tests/test_autotag_engine.py
  tests/test_lora_utils.py
Due: black, flake8, bandit

test: cover frontend modules
  tests/js/browser-globals.test.js
  tests/js/sse-stream.test.js
Due: none

test: close all database connections before deleting temp files
  tests/test_api.py
  tests/test_api_core.py
  tests/test_diagnostics_config.py
  tests/test_image_linking.py
  tests/test_node_execution_contract.py
  tests/test_utils_diagnostics.py
Due: black, flake8

fix: image routes serve only media files inside allowed directories
  py/api/images.py
  py/api/prompts.py
  tests/test_api_images.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

fix: give every thread its own sqlite connection
  database/models.py
  database/operations.py
  tests/test_database.py
  tests/test_database_concurrency.py
  tests/test_lora_database.py
  tests/test_prompt_usage.py
Due: black, flake8, bandit

fix: make the thumbnail progress stream POST-only
  py/api/images.py
  tests/test_api_images.py
Due: black, flake8, bandit

fix: drop the unused copy-text data-action handler
  web/js/admin.js
Due: none

fix: restore through SQLite's backup API, close_all for shared files, safer output scans
  database/models.py
  database/operations.py
  py/api/images.py
  tests/test_api_images.py
  tests/test_database_backup.py
Due: black, flake8, bandit

fix: image monitor recent-prompt fallback reads the paginated result
  tests/test_image_linking.py
  utils/image_monitor.py
Due: black, flake8, bandit

fix: CivitAI key is never returned or sent off-host
  py/api/lora_integration.py
  py/lora_utils.py
  tests/test_api_lora.py
  tests/test_lora_utils.py
Due: black, flake8, bandit

fix: export every prompt by paging instead of truncating at 10000
  py/api/prompts.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

fix: thumbnail runs skip fresh thumbnails before the cap and report what remains
  py/api/images.py
  tests/test_api_images.py
Due: black, flake8, bandit

fix: tags deep link renders and admin modals close
  tests/js/view-router.test.js
  web/admin.html
  web/js/admin.js
  web/js/view-router.js
Due: none

fix: never treat negative-only PromptManager nodes as the run prompt
  tests/test_prompt_graph.py
  utils/prompt_graph.py
Due: black, flake8, bandit

fix: harden database restore and keep server paths out of admin responses
  py/api/admin.py
  tests/test_api_admin.py
  tests/test_api_backup_restore.py
  tests/test_diagnostics_config.py
Due: black, flake8, bandit

refactor: share the internal error message in autotag routes
  py/api/autotag_routes.py
Due: black, flake8, bandit

fix: CivitAI downloads never follow redirects
  py/lora_utils.py
  tests/test_lora_utils.py
Due: black, flake8, bandit

fix: clamp paging on tag listings and the page-derived recent offset
  py/api/prompts.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

refactor: drop validate_workflow_name, the column it validated no longer exists
  .flake8
  tests/test_validators.py
  utils/validators.py
Due: black, flake8, bandit

fix: bound page sizes on list endpoints
  py/api/images.py
  py/api/prompts.py
  tests/test_api_images.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

perf: run duplicate and output scans off the event loop
  py/api/admin.py
  tests/test_api_admin.py
Due: black, flake8, bandit

refactor: remove shadowed and dead frontend code
  web/js/admin.js
  web/js/gallery.js
  web/metadata.html
Due: none

test: cover database operations
  tests/test_database.py
  tests/test_database_migrations.py
Due: black, flake8

style: wrap long lines in node modules
  __init__.py
  prompt_manager.py
  prompt_manager_text.py
  prompt_search_list.py
Due: black, flake8, bandit

fix: stop ComfyUI from loading the admin bundle into the canvas page
  __init__.py
  tests/test_extension_web_dir.py
  web/comfy/prompt_manager.js
Due: black, flake8, bandit

test: cover utils/comfyui_integration
  tests/test_comfyui_integration.py
Due: black, flake8

fix: validate hand-edited gallery roots everywhere and bound output scans
  py/api/__init__.py
  py/api/admin.py
  py/config.py
  tests/test_api_admin.py
  tests/test_api_core.py
  tests/test_gallery_roots.py
  tests/test_image_monitor_singleton.py
  utils/image_monitor.py
Due: black, flake8, bandit
