Repository ComfyAssets/ComfyUI_PromptManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --line-length=88 --target-version=py310
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: flake8 --select=E9,F63,F7,F82 --show-source --exclude=reference/,web/
        language: system
        types: [python]

      - id: bandit
        name: bandit
        entry: bash -c 'bandit "$@" -ll -q 2>&1; true'
        language: system
        types: [python]
        exclude: ^(tests/|reference/)

      - id: tests
        name: tests
        entry: python -m unittest discover tests/ -v
        language: system
        pass_filenames: false
        stages: [pre-push]

fix: saving an existing prompt concurrently returns its id
  database/operations.py
  tests/test_database.py
  tests/test_database_concurrency.py
Due: black, flake8, bandit

test: stop leaking a mocked utils.comfyui_integration and mock the IS_CHANGED clock
  tests/test_api_admin.py
  tests/test_api_core.py
  tests/test_api_logging.py
  tests/test_config.py
  tests/test_gallery_roots.py
  tests/test_image_monitor_singleton.py
  tests/test_node_execution_contract.py
  tests/test_output_dir.py
Due: black, flake8

test: cover image and prompt routes
  tests/test_api_images.py
  tests/test_api_prompts.py
Due: black, flake8

fix: address gallery auto-tag review images by path, not digest id
  tests/js/image-helpers.test.js
  web/js/admin.js
  web/js/gallery.js
  web/js/image-helpers.js
Due: none

test: close every database before unlinking and anchor public paths in image tests
  tests/test_api_backup_restore.py
  tests/test_api_images.py
  tests/test_api_prompts.py
  tests/test_database.py
  tests/test_database_backup.py
  tests/test_database_concurrency.py
  tests/test_database_migrations.py
  tests/test_prompt_usage.py
Due: black, flake8

chore: valid packaging metadata, flake8 config file, ignore local config with secrets
  .coveragerc
  .flake8
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_packaging.py
Due: black, flake8

test: isolate the clock and log buffer from background threads of other tests
  tests/test_comfyui_integration.py
  tests/test_diagnostics_config.py
  tests/test_utils_logging_config.py
Due: black, flake8

fix: keep batch image queue aligned when unrelated workflows save images
  tests/test_image_linking.py
  utils/image_monitor.py
Due: black, flake8, bandit

test: cover utils/logging_config
  tests/test_utils_logging_config.py
Due: black, flake8

fix: image monitor validates directories before creating the observer
  tests/test_image_monitor_singleton.py
  utils/image_monitor.py
Due: black, flake8, bandit

fix: resolve_text follows a node shared by two branches
  tests/test_prompt_graph.py
  utils/prompt_graph.py
Due: black, flake8, bandit

fix: saving LoRA settings without a key keeps the stored CivitAI key
  py/api/lora_integration.py
  tests/test_api_lora.py
Due: black, flake8, bandit

fix: bound log file size and backup count in the logging config endpoint
  py/api/logging_routes.py
  tests/test_api_logging.py
Due: black, flake8, bandit

perf: thumbnail generation no longer blocks the event loop
  py/api/images.py
  tests/test_api_images.py
Due: black, flake8, bandit

fix: private config.json, merged settings save, synthetic test-link path
  py/api/admin.py
  py/config.py
  tests/test_api_admin.py
  tests/test_config.py
Due: black, flake8, bandit

refactor: split diagnostics, maintenance and HTML serving into helpers
  py/api/__init__.py
  py/api/admin.py
Due: black, flake8, bandit

fix: count prompt runs when ComfyUI dequeues the prompt, not when it is submitted
  __init__.py
  tests/test_init_package.py
  tests/test_usage_tracking.py
  utils/usage_tracking.py
Due: black, flake8, bandit

test: cover admin and core API routes
  tests/test_api_admin.py
Due: black, flake8

fix: stale responses, double submits and leaked listeners
  tests/js/api-client.test.js
  tests/js/list-state.test.js
  tests/js/sse-stream.test.js
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/api-client.js
  web/js/gallery.js
  web/js/list-state.js
  web/js/sse-stream.js
Due: none

refactor: one prompt hash implementation
  prompt_manager.py
  prompt_manager_base.py
  prompt_manager_text.py
  restart_gallery.py
  tests/test_hashing.py
  tests/test_node_execution_contract.py
  utils/image_monitor.py
  utils/prompt_tracker.py
Due: black, flake8, bandit

fix: static routes resolve under web/ with an extension allow-list
  py/api/__init__.py
  tests/test_api_core.py
Due: black, flake8, bandit

refactor: settings reads the image monitor through its module
  py/api/admin.py
  tests/test_api_admin.py
Due: black, flake8, bandit

feat(gallery): warn with the pending count when a thumbnail run stops at the cap
  web/js/gallery.js
Due: none

fix: bound resolve_text on diamond chains with memoisation, depth and length caps
  tests/test_prompt_graph.py
  utils/prompt_graph.py
Due: black, flake8, bandit

fix: migrations are idempotent and schema init runs once per process
  database/models.py
  tests/test_database_migrations.py
  tests/test_prompt_usage.py
Due: black, flake8, bandit

fix: review flow uses the served image url and the lora-dirs test pins its config
  tests/test_api_images.py
  web/js/admin.js
Due: black, flake8

test: make admin, logging and diagnostics tests independent of test order
  tests/test_api_admin.py
  tests/test_api_logging.py
  tests/test_diagnostics_config.py
  tests/test_utils_logging_config.py
Due: black, flake8

fix: decode tag names from the URL only once
  py/api/prompts.py
  tests/test_api_prompts.py
Due: black, flake8, bandit

ci: test on Linux, Windows and macOS with a coverage gate and lint job
  .github/workflows/test.yml
Due: none

chore: flake8 ignores the gitignored standalone tagger script
  .flake8
Due: none

refactor: autotag model loading is injectable
  py/api/autotag_routes.py
  py/autotag.py
  tests/test_api_autotag.py
  tests/test_autotag_engine.py
Due: black, flake8, bandit

fix: image uniqueness by full path, escaped LIKE search, no usage stamp on save
  database/models.py
  database/operations.py
  tests/test_database.py
  tests/test_database_migrations.py
  tests/test_prompt_usage.py
Due: black, flake8, bandit

fix: escape LIKE wildcards in image prompt search
  database/operations.py
Due: black, flake8, bandit

fix: no absolute server paths in API responses
  py/api/__init__.py
  py/api/admin.py
  py/api/logging_routes.py
  py/config.py
  tests/test_api_admin.py
  tests/test_api_core.py
  tests/test_api_logging.py
  tests/test_gallery_roots.py
Due: black, flake8, bandit

fix: image worker thread exits on shutdown and restarts cleanly
  tests/test_image_monitor_singleton.py
  utils/image_monitor.py
Due: black, flake8, bandit

feat: scan reads prompts embedded in videos; unreadable files no longer log errors
  py/api/__init__.py
  py/config.py
  tests/test_api.py
  tests/test_api_admin.py
  tests/test_api_autotag.py
  tests/test_api_backup_restore.py
  tests/test_api_core.py
  tests/test_api_images.py
  tests/test_api_logging.py
  tests/test_api_lora.py
  tests/test_api_prompts.py
  tests/test_config.py
  tests/test_utils_video_metadata.py
  utils/video_metadata.py
Due: black, flake8, bandit

fix: follow the POST-only autotag streams and the new LoRA and list contracts
  web/js/admin.js
  web/js/gallery.js
Due: none

fix: backups include WAL data and restores are integrity-checked
  database/models.py
  py/api/admin.py
  tests/test_api_backup_restore.py
  tests/test_database_backup.py
Due: black, flake8, bandit

feat: capped JSON body reader and single-flight lock for long admin jobs
  py/api/__init__.py
  py/api/admin.py
  py/api/logging_routes.py
  tests/test_api_admin.py
  tests/test_api_core.py
  tests/test_api_logging.py
Due: black, flake8, bandit

fix: read thumbnail generation progress over POST with SseStream
  tests/js/sse-stream.test.js
  web/js/gallery.js
  web/js/sse-stream.js
Due: none
