Repository ComfyAssets/ComfyUI_PromptManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit

black:
  name: black
  entry: black --line-length=88 --target-version=py310
  language: system

flake8:
  name: flake8
  entry: flake8 --select=E9,F63,F7,F82 --show-source --exclude=reference/,web/
  language: system

bandit:
  name: bandit
  entry: bash -c 'bandit "$@" -ll -q 2>&1; true'
  language: system

feat: discover LoRA dirs from extra_model_paths.yaml and folder_paths (#52)
  py/lora_utils.py
Due: black, flake8, bandit

fix: use example prompts instead of trigger words, serve LoRA preview images (#52)
  py/api/images.py
  py/api/lora_integration.py
  py/lora_utils.py
Due: black, flake8, bandit

fix: handle null civitai field, link all preview images (#52)
  py/api/lora_integration.py
  py/lora_utils.py
Due: black, flake8, bandit

feat: reimport clears previous lora-manager data first (#52)
  database/operations.py
  py/api/lora_integration.py
Due: black, flake8, bandit

feat: download civitai example images during LoRA import (#52)
  .gitignore
  py/api/images.py
  py/api/lora_integration.py
  py/lora_utils.py
Due: black, flake8, bandit

feat: add CivitAI API key setting for authenticated image downloads (#52)
  py/api/lora_integration.py
  py/config.py
  py/lora_utils.py
  web/admin.html
  web/js/admin.js
Due: black, flake8, bandit

feat(ui): add progress modal for LoRA import (#52)
  web/admin.html
  web/js/admin.js
Due: none

fix: reduce download timeout to 5s, update progress per LoRA (#52)
  py/api/lora_integration.py
  py/lora_utils.py
Due: black, flake8, bandit

perf: use 512px thumbnails and parallel downloads for LoRA images (#52)
  py/lora_utils.py
Due: black, flake8, bandit

fix: resize downloaded images to 512px thumbnails locally (#52)
  py/lora_utils.py
Due: black, flake8, bandit

docs: update README for v3.2.1 LoRA Manager integration (#52)
  README.md
  images/pm-lora-enabled.png
  images/pm-lora-filtered.png
  images/pm-lora-import.png
  images/pm-lora-results.png
  images/pm-settings-integrations.png
  py/api/images.py
  py/lora_utils.py
  pyproject.toml
Due: black, flake8, bandit

test: add unit tests for LoRA integration and folder filter (#52)
  tests/test_config.py
  tests/test_lora_database.py
  tests/test_lora_utils.py
Due: black, flake8

fix: remove unused MagicMock import in test_lora_utils (#52)
  tests/test_lora_utils.py
Due: black, flake8

feat: LoraManager integration — trigger words & example import (#52) (#136)
  .gitignore
  README.md
  database/operations.py
  images/pm-lora-enabled.png
  images/pm-lora-filtered.png
  images/pm-lora-import.png
  images/pm-lora-results.png
  images/pm-settings-integrations.png
  prompt_manager.py
  prompt_manager_base.py
  prompt_manager_text.py
  py/api/__init__.py
  py/api/images.py
  py/api/lora_integration.py
  py/config.py
  py/lora_utils.py
  pyproject.toml
  tests/test_config.py
  tests/test_lora_database.py
  tests/test_lora_utils.py
  web/admin.html
  web/js/admin.js
Due: black, flake8, bandit

fix(search): PromptSearchList crash, filters, and batch output (#52)
  prompt_search_list.py
Due: black, flake8, bandit

feat(db): add tag_partial parameter for LIKE tag matching (#52)
  database/operations.py
Due: black, flake8, bandit

feat(tracker): add FIFO prompt queue for batch image linking (#52)
  utils/prompt_tracker.py
Due: black, flake8, bandit

fix(monitor): multi-strategy image-to-prompt linking (#52)
  utils/image_monitor.py
Due: black, flake8, bandit

test: add tests for prompt queue and search filters (#52)
  tests/test_prompt_tracker.py
  tests/test_search_filters.py
Due: black, flake8

chore: bump version to 3.2.2
  pyproject.toml
Due: none

fix: address code review — regex backtracking and queue expiry (#52)
  prompt_search_list.py
  tests/test_search_filters.py
  utils/prompt_tracker.py
Due: black, flake8, bandit

feat: PromptSearchList batch workflow support & image linking v3.2.2 (#139)
  database/operations.py
  prompt_search_list.py
  pyproject.toml
  tests/test_prompt_tracker.py
  tests/test_search_filters.py
  utils/image_monitor.py
  utils/prompt_tracker.py
Due: black, flake8, bandit

feat: recursive subfolder filtering + gallery tree navigation + thumbnail sizing
  database/operations.py
  py/api/images.py
  py/api/prompts.py
  tests/test_lora_database.py
  tests/test_path_security.py
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
Due: black, flake8, bandit

Fix mobile lightbox sidebar overlap and add collapse setting
  web/gallery.html
  web/js/gallery.js
  web/lib/tailwind/comfyui-theme.css
Due: none

Fix mobile lightbox sidebar overlap and add collapse setting (#141)
  web/gallery.html
  web/js/gallery.js
  web/lib/tailwind/comfyui-theme.css
Due: none

style: fix Black formatting in test_path_security.py
  tests/test_path_security.py
Due: black, flake8

feat(gallery): add folder tree sidebar with hierarchical navigation (#126)
  database/operations.py
Due: black, flake8, bandit

feat: recursive subfolder filtering + gallery tree navigation (#140)
  database/operations.py
  py/api/images.py
  py/api/prompts.py
  tests/test_lora_database.py
  tests/test_path_security.py
  web/gallery.html
  web/js/admin.js
  web/js/gallery.js
Due: black, flake8, bandit

fix: release 3.2.3 — metadata parsing, null-safe saves, auto-hide, tag search
  .github/workflows/test.yml
  README.md
  prompt_manager.py
  prompt_manager_text.py
  py/api/admin.py
  py/api/prompts.py
  pyproject.toml
  tests/js/comfy-metadata.test.js
  tests/test_api.py
  tests/test_comfyui_integration.py
  tests/test_validators.py
  utils/comfyui_integration.py
  utils/validators.py
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/comfy-metadata.js
  web/js/gallery.js
  web/metadata.html
  web/prompt_manager.js
Due: black, flake8, bandit

fix: bound metadata graph traversal to prevent tab freeze on crafted PNGs
  tests/js/comfy-metadata.test.js
  web/js/comfy-metadata.js
Due: none

fix: read the matching output of multi-output settings nodes
  tests/js/comfy-metadata.test.js
  web/js/comfy-metadata.js
Due: none

fix: address review — trust API text, restore workflow-only parsing
  tests/js/comfy-metadata.test.js
  web/js/comfy-metadata.js
Due: none

fix: release 3.2.3 — metadata parsing, null-safe saves, auto-hide, tag search (#151)
  .github/workflows/test.yml
  README.md
  prompt_manager.py
  prompt_manager_text.py
  py/api/admin.py
  py/api/prompts.py
  pyproject.toml
  tests/js/comfy-metadata.test.js
  tests/test_api.py
  tests/test_comfyui_integration.py
  tests/test_validators.py
  utils/comfyui_integration.py
  utils/validators.py
  web/admin.html
  web/gallery.html
  web/js/admin.js
  web/js/comfy-metadata.js
  web/js/gallery.js
  web/metadata.html
  web/prompt_manager.js
Due: black, flake8, bandit

chore: start 3.2.4
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: ^(tests/|reference/)
